# LandTrax Environment Variables
# ====================================================
# This file contains all the environment variables needed for the application.
# Copy this file to .env and fill in your values before starting the application.
APP_ENV= # development | staging  | testing | production
PORT=3000 # SERVER PORT #DEFAULT
HOST=localhost # SERVER HOST #DEFAULT
APP_VERSION= 1.0.29 # CURRENT VERSION #DEFAULT

# ====================
# EMAIL CONFIGURATION (Resend)
# ====================
# Email is used for verification, password reset, and notifications
# In the app: Used by main/utility/email.service.ts
RESEND_API_KEY = your_resend_api_key 
EMAIL_PROVIDER= your_email_provider #SMTP #DEFAULT
EMAIL_PASSWORD= your_email_password #ENCRYPTED
EMAIL_USER= your_email_sender #ENCRYPTED
EMAIL_FROM= your_email_sender #DEFAULT

# ====================
# CORS CONFIGURATION
# ====================
# Comma-separated list of allowed origins for CORS
# Only these domains will be able to make requests to your API
# Example: https://yourdomain.com,https://staging.yourdomain.com,http://localhost:3000
# In the app: Used by src/main.ts for CORS origin validation
ALLOWED_ORIGINS= #local

# ====================
# FILE STORAGE (AWS S3)
# ====================
# File storage is used for user uploads like profile pictures and documents
# Spaces is AWS's S3-compatible object storage service
# In the app: Used by src/services/storage/s3-storage.service.ts
CLOUD_STORAGE_PROVIDER= your_cloud_storage_provider # AWS #ENCRYPTED
AWS_ACCESS_KEY_ID= your_cloud_storage_access_key #ENCRYPTED
AWS_SECRET_ACCESS_KEY= your_cloud_storage_secret_key #ENCRYPTED
AWS_REGION= your_cloud_storage_region #ENCRYPTED
AWS_S3_BUCKET= your_cloud_storage_bucket #ENCRYPTED

# ====================
# COLLECTION/BILLING CONFIGURATION (Maya Business)
# ====================
# MayaBusiness handles all collections, collection processing, and customer management, payment-methods(debit/credit card/e-wallet)
# In the app: Used by src/collection/collection.service.ts
MAYA_PUBLIC_API_KEY= your_maya_public_api_key #ENCRYPTED
MAYA_SECRET_API_KEY= your_maya_secret_api_key #ENCRYPTED
MAYA_MERCHANT_ID= your_maya_merchant_id #ENCRYPTED
MAYA_MERCHANT_ACCOUNT_NO= your_maya_merchant_account_no #ENCRYPTED
MAYA_ENVIRONMENT= # SANDBOX | PRODUCTION
MAYA_BASE_URL= # SANDBOX = https://pg-sandbox.paymaya.com | PRODUCTION = https://pg.paymaya.com

# SECURITY CONFIGURATION
JWT_SECRET= your_jwt_secret_key