USE [bir]
GO
/****** Object:  Table [dbo].[MstAccount]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](100) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[AccountType] [nvarchar](50) NULL,
 CONSTRAINT [PK_MstAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstBranch]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstBranch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](250) NOT NULL,
	[Address] [text] NULL,
 CONSTRAINT [PK__mstBranc__3214EC075090EFD7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstCustomer]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[ContactNumber] [nvarchar](50) NOT NULL,
	[CreditLimit] [decimal](18, 5) NOT NULL,
	[TermId] [int] NOT NULL,
	[TIN] [nvarchar](50) NOT NULL,
	[WithReward] [bit] NOT NULL,
	[RewardNumber] [nvarchar](50) NULL,
	[RewardConversion] [decimal](18, 5) NOT NULL,
	[AccountId] [int] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DefaultPriceDescription] [nvarchar](255) NULL,
	[CustomerCode] [nvarchar](50) NULL,
	[BusinessStyle] [nvarchar](max) NULL,
 CONSTRAINT [PK_MstCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstDiscount]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstDiscount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [nvarchar](50) NOT NULL,
	[DiscountRate] [decimal](18, 5) NOT NULL,
	[IsVatExempt] [bit] NOT NULL,
	[IsDateScheduled] [bit] NOT NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[IsTimeScheduled] [bit] NOT NULL,
	[TimeStart] [datetime] NULL,
	[TimeEnd] [datetime] NULL,
	[IsDayScheduled] [bit] NOT NULL,
	[DayMon] [bit] NOT NULL,
	[DayTue] [bit] NOT NULL,
	[DayWed] [bit] NOT NULL,
	[DayThu] [bit] NOT NULL,
	[DayFri] [bit] NOT NULL,
	[DaySat] [bit] NOT NULL,
	[DaySun] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DiscountAlias] [nvarchar](100) NULL,
 CONSTRAINT [PK_MstDiscount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstDiscountItem]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstDiscountItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[IsAutoDiscount] [bit] NULL,
 CONSTRAINT [PK_MstDiscountItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItem]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](255) NOT NULL,
	[BarCode] [nvarchar](255) NOT NULL,
	[ItemDescription] [nvarchar](255) NOT NULL,
	[Alias] [nvarchar](255) NOT NULL,
	[GenericName] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[SalesAccountId] [int] NOT NULL,
	[AssetAccountId] [int] NOT NULL,
	[CostAccountId] [int] NOT NULL,
	[InTaxId] [int] NOT NULL,
	[OutTaxId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[DefaultSupplierId] [int] NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[MarkUp] [decimal](18, 5) NOT NULL,
	[Price] [decimal](18, 5) NOT NULL,
	[ImagePath] [nvarchar](255) NOT NULL,
	[ReorderQuantity] [decimal](18, 5) NOT NULL,
	[OnhandQuantity] [decimal](18, 5) NOT NULL,
	[IsInventory] [bit] NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[LotNumber] [nvarchar](50) NULL,
	[Remarks] [nvarchar](255) NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DefaultKitchenReport] [varchar](50) NULL,
	[IsPackage] [bit] NOT NULL,
 CONSTRAINT [PK_MstItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemComponent]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemComponent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ComponentItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[IsPrinted] [bit] NOT NULL,
 CONSTRAINT [PK_MstItemComponent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemGroup]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemGroup] [nvarchar](50) NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
	[KitchenReport] [nvarchar](50) NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_MstItemGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemGroupItem]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemGroupItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemGroupId] [int] NOT NULL,
 CONSTRAINT [PK_MstItemGroupItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemInventory]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemInventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[InventoryDate] [datetime] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_MstItemInventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemPackage]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemPackage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[PackageItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[IsOptional] [bit] NOT NULL,
 CONSTRAINT [PK_MstItemPackage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstItemPrice]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItemPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[PriceDescription] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 5) NOT NULL,
	[TriggerQuantity] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_MstItemPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstPayType]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstPayType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayType] [nvarchar](50) NOT NULL,
	[AccountId] [int] NULL,
	[SortNumber] [int] NULL,
 CONSTRAINT [PK_MstPayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstPeriod]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstPeriod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Period] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MstPeriod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstSupplier]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstSupplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[TelephoneNumber] [nvarchar](50) NOT NULL,
	[CellphoneNumber] [nvarchar](50) NOT NULL,
	[FaxNumber] [nvarchar](50) NOT NULL,
	[TermId] [int] NOT NULL,
	[TIN] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_MstSupplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstTable]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableCode] [nvarchar](50) NOT NULL,
	[TableGroupId] [int] NOT NULL,
	[TopLocation] [int] NULL,
	[LeftLocation] [int] NULL,
 CONSTRAINT [PK_MstTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstTableGroup]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstTableGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableGroup] [nvarchar](50) NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_MstTableGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstTax]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstTax](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Tax] [nvarchar](50) NOT NULL,
	[Rate] [decimal](18, 5) NOT NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_MstTax] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstTerm]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstTerm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Term] [nvarchar](50) NOT NULL,
	[NumberOfDays] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_MstTerm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstTerminal]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstTerminal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Terminal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MstTerminal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstUnit]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MstUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstUser]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[UserCardNumber] [nvarchar](255) NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_MstUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstUserForm]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstUserForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanAdd] [bit] NOT NULL,
	[CanLock] [bit] NOT NULL,
	[CanUnlock] [bit] NOT NULL,
	[CanPrint] [bit] NOT NULL,
	[CanPreview] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanTender] [bit] NOT NULL,
	[CanDiscount] [bit] NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanSplit] [bit] NOT NULL,
	[CanCancel] [bit] NOT NULL,
	[CanReturn] [bit] NOT NULL,
 CONSTRAINT [PK_MstUserForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysAuditTrail]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAuditTrail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[TableInformation] [nvarchar](255) NOT NULL,
	[RecordInformation] [nvarchar](255) NOT NULL,
	[FormInformation] [nvarchar](255) NOT NULL,
	[ActionInformation] [nvarchar](255) NOT NULL,
	[OldItem] [nvarchar](250) NULL,
	[NewItem] [nvarchar](250) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[NewPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SysAuditTrail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysForm]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Form] [nvarchar](50) NOT NULL,
	[FormDescription] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SysForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysSalesLocked]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysSalesLocked](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_SysSalesLocked] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysSettings]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [nvarchar](50) NOT NULL,
	[UserCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SysSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnCollection]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnCollection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[CollectionDate] [datetime] NOT NULL,
	[CollectionNumber] [nvarchar](50) NOT NULL,
	[TerminalId] [int] NOT NULL,
	[ManualORNumber] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[SalesId] [int] NULL,
	[SalesBalanceAmount] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[TenderAmount] [decimal](18, 5) NOT NULL,
	[ChangeAmount] [decimal](18, 5) NOT NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsReturned] [int] NULL,
	[IsCancelled] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[PostCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrnCollection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnCollectionLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnCollectionLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollectionId] [int] NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[PayTypeId] [int] NOT NULL,
	[CheckNumber] [nvarchar](50) NULL,
	[CheckDate] [datetime] NULL,
	[CheckBank] [nvarchar](50) NULL,
	[CreditCardVerificationCode] [nvarchar](50) NULL,
	[CreditCardNumber] [nvarchar](50) NULL,
	[CreditCardType] [nvarchar](50) NULL,
	[CreditCardBank] [nvarchar](50) NULL,
	[GiftCertificateNumber] [nvarchar](50) NULL,
	[OtherInformation] [nvarchar](255) NULL,
	[StockInId] [int] NULL,
	[AccountId] [int] NOT NULL,
	[CreditCardReferenceNumber] [nvarchar](50) NULL,
	[CreditCardHolderName] [nvarchar](100) NULL,
	[CreditCardExpiry] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrnCollectionLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnDebitCreditMemo]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnDebitCreditMemo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[DCMemoNumber] [nvarchar](50) NOT NULL,
	[DCMemoDate] [datetime] NOT NULL,
	[Particulars] [nvarchar](255) NOT NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TrnDebitCreditMemo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnDebitCreditMemoLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnDebitCreditMemoLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DCMemoId] [int] NOT NULL,
	[SalesId] [int] NULL,
	[AccountId] [int] NOT NULL,
	[Particulars] [nvarchar](255) NULL,
	[DebitAmount] [decimal](18, 5) NOT NULL,
	[CreditAmount] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_TrnDebitCreditMemoLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnDisbursement]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnDisbursement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[DisbursementDate] [datetime] NOT NULL,
	[DisbursementNumber] [nvarchar](50) NOT NULL,
	[DisbursementType] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[PayTypeId] [int] NOT NULL,
	[TerminalId] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsReturn] [bit] NOT NULL,
	[StockInId] [int] NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[Amount1000] [decimal](18, 5) NULL,
	[Amount500] [decimal](18, 5) NULL,
	[Amount200] [decimal](18, 5) NULL,
	[Amount100] [decimal](18, 5) NULL,
	[Amount50] [decimal](18, 5) NULL,
	[Amount20] [decimal](18, 5) NULL,
	[Amount10] [decimal](18, 5) NULL,
	[Amount5] [decimal](18, 5) NULL,
	[Amount1] [decimal](18, 5) NULL,
	[Amount025] [decimal](18, 5) NULL,
	[Amount010] [decimal](18, 5) NULL,
	[Amount005] [decimal](18, 5) NULL,
	[Amount001] [decimal](18, 5) NULL,
	[Payee] [nvarchar](255) NULL,
 CONSTRAINT [PK_TrnDisbursement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnJournal]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnJournal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JournalDate] [datetime] NOT NULL,
	[JournalRefDocument] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[DebitAmount] [decimal](18, 5) NOT NULL,
	[CreditAmount] [decimal](18, 5) NOT NULL,
	[SalesId] [int] NULL,
	[StockInId] [int] NULL,
	[StockOutId] [int] NULL,
	[CollectionId] [int] NULL,
	[DCMemoId] [int] NULL,
	[DisbursementId] [int] NULL,
 CONSTRAINT [PK_TrnJournal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnPaxTable]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnPaxTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[TotalPax] [decimal](18, 5) NOT NULL,
	[DiscountedPax] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_TrnPaxTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnPurchaseOrder]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnPurchaseOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[PurchaseOrderDate] [datetime] NOT NULL,
	[PurchaseOrderNumber] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[RequestedBy] [int] NULL,
 CONSTRAINT [PK_TrnPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnPurchaseOrderLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnPurchaseOrderLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_TrnPurchaseOrderLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnSales]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[SalesDate] [datetime] NOT NULL,
	[SalesNumber] [nvarchar](50) NOT NULL,
	[ManualInvoiceNumber] [nvarchar](50) NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[TableId] [int] NULL,
	[CustomerId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[TermId] [int] NOT NULL,
	[DiscountId] [int] NULL,
	[SeniorCitizenId] [nvarchar](50) NULL,
	[SeniorCitizenName] [nvarchar](255) NULL,
	[SeniorCitizenAge] [int] NULL,
	[Remarks] [nvarchar](max) NULL,
	[SalesAgent] [int] NOT NULL,
	[TerminalId] [int] NOT NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsReturn] [int] NULL,
	[IsCancelled] [bit] NOT NULL,
	[PaidAmount] [decimal](18, 5) NOT NULL,
	[CreditAmount] [decimal](18, 5) NOT NULL,
	[DebitAmount] [decimal](18, 5) NOT NULL,
	[BalanceAmount] [decimal](18, 5) NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[Pax] [int] NULL,
	[TableStatus] [int] NOT NULL,
	[ChildName] [nvarchar](100) NULL,
	[DateOfBirth] [datetime] NULL,
	[TINNumber] [nvarchar](50) NULL,
	[IsBilledOut] [bit] NOT NULL,
 CONSTRAINT [PK_TrnSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnSalesDraft]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnSalesDraft](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocRef] [nvarchar](50) NOT NULL,
	[DocDate] [datetime] NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Price] [decimal](18, 5) NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[CustomerCode] [nvarchar](255) NOT NULL,
	[Customer] [nvarchar](255) NOT NULL,
	[ContactPerson] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NOT NULL,
	[MobilePhoneNumber] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TrnSalesDraft] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnSalesLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnSalesLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Price] [decimal](18, 5) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[DiscountRate] [decimal](18, 5) NOT NULL,
	[DiscountAmount] [decimal](18, 5) NOT NULL,
	[NetPrice] [decimal](18, 5) NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[TaxId] [int] NOT NULL,
	[TaxRate] [decimal](18, 5) NOT NULL,
	[TaxAmount] [decimal](18, 5) NOT NULL,
	[SalesAccountId] [int] NOT NULL,
	[AssetAccountId] [int] NOT NULL,
	[CostAccountId] [int] NOT NULL,
	[TaxAccountId] [int] NOT NULL,
	[SalesLineTimeStamp] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[Preparation] [varchar](255) NULL,
	[Price1] [decimal](18, 5) NOT NULL,
	[Price2] [decimal](18, 5) NOT NULL,
	[Price2LessTax] [decimal](18, 5) NOT NULL,
	[PriceSplitPercentage] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_TrnSalesLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockCount]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockCount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[StockCountDate] [datetime] NOT NULL,
	[StockCountNumber] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TrnStockCount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockCountLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockCountLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockCountId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_TrnStockCountLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockIn]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockIn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[StockInDate] [datetime] NOT NULL,
	[StockInNumber] [nvarchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsReturn] [bit] NOT NULL,
	[CollectionId] [int] NULL,
	[PurchaseOrderId] [int] NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[SalesId] [int] NULL,
	[BranchId] [int] NULL,
 CONSTRAINT [PK_TrnStockIn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockInLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockInLine](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StockInId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[LotNumber] [nvarchar](50) NULL,
	[AssetAccountId] [int] NOT NULL,
	[Price] [decimal](18, 5) NULL,
	[MarkUp] [decimal](18, 5) NULL,
 CONSTRAINT [PK_TrnStockInLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockOut]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodId] [int] NOT NULL,
	[StockOutDate] [datetime] NOT NULL,
	[StockOutNumber] [nvarchar](50) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[PreparedBy] [int] NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[EntryUserId] [int] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[UpdateUserId] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
	[BranchId] [int] NULL,
 CONSTRAINT [PK_TrnStockOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStockOutLine]    Script Date: 3/7/2026 1:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStockOutLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockOutId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](18, 5) NOT NULL,
	[Cost] [decimal](18, 5) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[AssetAccountId] [int] NOT NULL,
 CONSTRAINT [PK_TrnStockOutLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MstAccount] ADD  CONSTRAINT [DF_MstAccount_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[MstCustomer] ADD  CONSTRAINT [DF_MstCustomer_RewardConversion]  DEFAULT ((0)) FOR [RewardConversion]
GO
ALTER TABLE [dbo].[MstItem] ADD  CONSTRAINT [DF_MstItem_OnhandQuantity]  DEFAULT ((0)) FOR [OnhandQuantity]
GO
ALTER TABLE [dbo].[MstItem] ADD  CONSTRAINT [DF_MstItem_EntryUserId]  DEFAULT ((1)) FOR [EntryUserId]
GO
ALTER TABLE [dbo].[MstItem] ADD  CONSTRAINT [DF_MstItem_UpdateUserId]  DEFAULT ((1)) FOR [UpdateUserId]
GO
ALTER TABLE [dbo].[MstItem] ADD  CONSTRAINT [DF_MstItem_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[MstItemPackage] ADD  DEFAULT ('false') FOR [IsOptional]
GO
ALTER TABLE [dbo].[MstUser] ADD  CONSTRAINT [DF_isLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanDelete]  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanAdd]  DEFAULT ((0)) FOR [CanAdd]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanLock]  DEFAULT ((0)) FOR [CanLock]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanUnlock]  DEFAULT ((0)) FOR [CanUnlock]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanPrint]  DEFAULT ((0)) FOR [CanPrint]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanPreview]  DEFAULT ((0)) FOR [CanPreview]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanEdit]  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanTender]  DEFAULT ((0)) FOR [CanTender]
GO
ALTER TABLE [dbo].[MstUserForm] ADD  CONSTRAINT [DF_MstUserForm_CanDiscount]  DEFAULT ((0)) FOR [CanDiscount]
GO
ALTER TABLE [dbo].[TrnCollection] ADD  CONSTRAINT [DF_TrnCollection_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] ADD  CONSTRAINT [DF_TrnPurchaseOrder_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TrnPurchaseOrderLine] ADD  CONSTRAINT [DF_TrnPurchaseOrderLine_Amount]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[TrnSales] ADD  CONSTRAINT [DF_TrnSales_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TrnSales] ADD  CONSTRAINT [DF_TrnSales_IsCancelled]  DEFAULT ((0)) FOR [IsCancelled]
GO
ALTER TABLE [dbo].[TrnSales] ADD  CONSTRAINT [DF__TrnSales__TableS__4AD81681]  DEFAULT ((1)) FOR [TableStatus]
GO
ALTER TABLE [dbo].[TrnSales] ADD  DEFAULT ((0)) FOR [IsBilledOut]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  CONSTRAINT [DF_TrnSalesLine_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  CONSTRAINT [DF_TrnSalesLine_SalesLineTimeStamp]  DEFAULT (getdate()) FOR [SalesLineTimeStamp]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  DEFAULT ((0)) FOR [Price1]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  DEFAULT ((0)) FOR [Price2]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  DEFAULT ((0)) FOR [Price2LessTax]
GO
ALTER TABLE [dbo].[TrnSalesLine] ADD  DEFAULT ((0)) FOR [PriceSplitPercentage]
GO
ALTER TABLE [dbo].[TrnStockCount] ADD  CONSTRAINT [DF_TrnStockCount_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TrnStockIn] ADD  CONSTRAINT [DF_TrnStockIn_IsReturn]  DEFAULT ((0)) FOR [IsReturn]
GO
ALTER TABLE [dbo].[TrnStockIn] ADD  CONSTRAINT [DF_TrnStockIn_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TrnStockOut] ADD  CONSTRAINT [DF_TrnStockOut_IsLocked]  DEFAULT ((-1)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[MstCustomer]  WITH CHECK ADD  CONSTRAINT [FK_MstCustomer_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstCustomer] CHECK CONSTRAINT [FK_MstCustomer_MstAccount]
GO
ALTER TABLE [dbo].[MstCustomer]  WITH CHECK ADD  CONSTRAINT [FK_MstCustomer_MstTerm] FOREIGN KEY([TermId])
REFERENCES [dbo].[MstTerm] ([Id])
GO
ALTER TABLE [dbo].[MstCustomer] CHECK CONSTRAINT [FK_MstCustomer_MstTerm]
GO
ALTER TABLE [dbo].[MstCustomer]  WITH CHECK ADD  CONSTRAINT [FK_MstCustomer_MstUser] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstCustomer] CHECK CONSTRAINT [FK_MstCustomer_MstUser]
GO
ALTER TABLE [dbo].[MstCustomer]  WITH CHECK ADD  CONSTRAINT [FK_MstCustomer_MstUser1] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstCustomer] CHECK CONSTRAINT [FK_MstCustomer_MstUser1]
GO
ALTER TABLE [dbo].[MstDiscountItem]  WITH CHECK ADD  CONSTRAINT [FK_MstDiscountItem_MstDiscount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[MstDiscount] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstDiscountItem] CHECK CONSTRAINT [FK_MstDiscountItem_MstDiscount]
GO
ALTER TABLE [dbo].[MstDiscountItem]  WITH CHECK ADD  CONSTRAINT [FK_MstDiscountItem_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstDiscountItem] CHECK CONSTRAINT [FK_MstDiscountItem_MstItem]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstAccount] FOREIGN KEY([CostAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstAccount]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstAccount1] FOREIGN KEY([SalesAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstAccount1]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstAccount2] FOREIGN KEY([AssetAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstAccount2]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstSupplier] FOREIGN KEY([DefaultSupplierId])
REFERENCES [dbo].[MstSupplier] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstSupplier]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstTax] FOREIGN KEY([InTaxId])
REFERENCES [dbo].[MstTax] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstTax]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstUnit]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstUser] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstUser]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItem_MstUser1] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_MstItem_MstUser1]
GO
ALTER TABLE [dbo].[MstItemComponent]  WITH CHECK ADD  CONSTRAINT [FK_MstItemComponent_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemComponent] CHECK CONSTRAINT [FK_MstItemComponent_MstItem]
GO
ALTER TABLE [dbo].[MstItemComponent]  WITH CHECK ADD  CONSTRAINT [FK_MstItemComponent_MstItem1] FOREIGN KEY([ComponentItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[MstItemComponent] CHECK CONSTRAINT [FK_MstItemComponent_MstItem1]
GO
ALTER TABLE [dbo].[MstItemComponent]  WITH CHECK ADD  CONSTRAINT [FK_MstItemComponent_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[MstItemComponent] CHECK CONSTRAINT [FK_MstItemComponent_MstUnit]
GO
ALTER TABLE [dbo].[MstItemGroup]  WITH CHECK ADD  CONSTRAINT [FK_MstItemGroup_MstUser] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstItemGroup] CHECK CONSTRAINT [FK_MstItemGroup_MstUser]
GO
ALTER TABLE [dbo].[MstItemGroup]  WITH CHECK ADD  CONSTRAINT [FK_MstItemGroup_MstUser1] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstItemGroup] CHECK CONSTRAINT [FK_MstItemGroup_MstUser1]
GO
ALTER TABLE [dbo].[MstItemGroupItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItemGroupItem_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemGroupItem] CHECK CONSTRAINT [FK_MstItemGroupItem_MstItem]
GO
ALTER TABLE [dbo].[MstItemGroupItem]  WITH CHECK ADD  CONSTRAINT [FK_MstItemGroupItem_MstItemGroup] FOREIGN KEY([ItemGroupId])
REFERENCES [dbo].[MstItemGroup] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemGroupItem] CHECK CONSTRAINT [FK_MstItemGroupItem_MstItemGroup]
GO
ALTER TABLE [dbo].[MstItemInventory]  WITH CHECK ADD  CONSTRAINT [FK_MstItemInventory_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemInventory] CHECK CONSTRAINT [FK_MstItemInventory_MstItem]
GO
ALTER TABLE [dbo].[MstItemPackage]  WITH CHECK ADD  CONSTRAINT [FK_MstItemPackage_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemPackage] CHECK CONSTRAINT [FK_MstItemPackage_MstItem]
GO
ALTER TABLE [dbo].[MstItemPackage]  WITH CHECK ADD  CONSTRAINT [FK_MstItemPackage_MstItem1] FOREIGN KEY([PackageItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[MstItemPackage] CHECK CONSTRAINT [FK_MstItemPackage_MstItem1]
GO
ALTER TABLE [dbo].[MstItemPackage]  WITH CHECK ADD  CONSTRAINT [FK_MstItemPackage_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[MstItemPackage] CHECK CONSTRAINT [FK_MstItemPackage_MstUnit]
GO
ALTER TABLE [dbo].[MstItemPrice]  WITH CHECK ADD  CONSTRAINT [FK_MstItemPrice_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItemPrice] CHECK CONSTRAINT [FK_MstItemPrice_MstItem]
GO
ALTER TABLE [dbo].[MstPayType]  WITH CHECK ADD  CONSTRAINT [FK_MstPayType_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstPayType] CHECK CONSTRAINT [FK_MstPayType_MstAccount]
GO
ALTER TABLE [dbo].[MstSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MstSupplier_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstSupplier] CHECK CONSTRAINT [FK_MstSupplier_MstAccount]
GO
ALTER TABLE [dbo].[MstSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MstSupplier_MstTerm] FOREIGN KEY([TermId])
REFERENCES [dbo].[MstTerm] ([Id])
GO
ALTER TABLE [dbo].[MstSupplier] CHECK CONSTRAINT [FK_MstSupplier_MstTerm]
GO
ALTER TABLE [dbo].[MstSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MstSupplier_MstUser] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstSupplier] CHECK CONSTRAINT [FK_MstSupplier_MstUser]
GO
ALTER TABLE [dbo].[MstSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MstSupplier_MstUser1] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[MstSupplier] CHECK CONSTRAINT [FK_MstSupplier_MstUser1]
GO
ALTER TABLE [dbo].[MstTable]  WITH CHECK ADD  CONSTRAINT [FK_MstTable_MstTableGroup] FOREIGN KEY([TableGroupId])
REFERENCES [dbo].[MstTableGroup] ([Id])
GO
ALTER TABLE [dbo].[MstTable] CHECK CONSTRAINT [FK_MstTable_MstTableGroup]
GO
ALTER TABLE [dbo].[MstTax]  WITH CHECK ADD  CONSTRAINT [FK_MstTax_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[MstTax] CHECK CONSTRAINT [FK_MstTax_MstAccount]
GO
ALTER TABLE [dbo].[MstUserForm]  WITH CHECK ADD  CONSTRAINT [FK_MstUserForm_MstUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[MstUser] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstUserForm] CHECK CONSTRAINT [FK_MstUserForm_MstUser]
GO
ALTER TABLE [dbo].[SysAuditTrail]  WITH CHECK ADD  CONSTRAINT [FK_SysAuditTrail_SysAuditTrail] FOREIGN KEY([UserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[SysAuditTrail] CHECK CONSTRAINT [FK_SysAuditTrail_SysAuditTrail]
GO
ALTER TABLE [dbo].[SysSalesLocked]  WITH CHECK ADD  CONSTRAINT [FK_SysSalesLocked_MstUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[MstUser] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysSalesLocked] CHECK CONSTRAINT [FK_SysSalesLocked_MstUser]
GO
ALTER TABLE [dbo].[SysSalesLocked]  WITH CHECK ADD  CONSTRAINT [FK_SysSalesLocked_TrnSales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[TrnSales] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SysSalesLocked] CHECK CONSTRAINT [FK_SysSalesLocked_TrnSales]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstCustomer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[MstCustomer] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstCustomer]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstPeriod]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstTerminal] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[MstTerminal] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstTerminal]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstUser]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstUser1]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstUser2]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstUser3]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_MstUser4]
GO
ALTER TABLE [dbo].[TrnCollection]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollection_TrnSales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[TrnSales] ([Id])
GO
ALTER TABLE [dbo].[TrnCollection] CHECK CONSTRAINT [FK_TrnCollection_TrnSales]
GO
ALTER TABLE [dbo].[TrnCollectionLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollectionLine_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnCollectionLine] CHECK CONSTRAINT [FK_TrnCollectionLine_MstAccount]
GO
ALTER TABLE [dbo].[TrnCollectionLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollectionLine_MstPayType] FOREIGN KEY([PayTypeId])
REFERENCES [dbo].[MstPayType] ([Id])
GO
ALTER TABLE [dbo].[TrnCollectionLine] CHECK CONSTRAINT [FK_TrnCollectionLine_MstPayType]
GO
ALTER TABLE [dbo].[TrnCollectionLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollectionLine_TrnCollection] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[TrnCollection] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnCollectionLine] CHECK CONSTRAINT [FK_TrnCollectionLine_TrnCollection]
GO
ALTER TABLE [dbo].[TrnCollectionLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnCollectionLine_TrnStockIn] FOREIGN KEY([StockInId])
REFERENCES [dbo].[TrnStockIn] ([Id])
GO
ALTER TABLE [dbo].[TrnCollectionLine] CHECK CONSTRAINT [FK_TrnCollectionLine_TrnStockIn]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstPeriod]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstUser]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstUser1]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstUser2]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstUser3]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemo_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemo] CHECK CONSTRAINT [FK_TrnDebitCreditMemo_MstUser4]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemoLine_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine] CHECK CONSTRAINT [FK_TrnDebitCreditMemoLine_MstAccount]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemoLine_TrnDebitCreditMemo] FOREIGN KEY([DCMemoId])
REFERENCES [dbo].[TrnDebitCreditMemo] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine] CHECK CONSTRAINT [FK_TrnDebitCreditMemoLine_TrnDebitCreditMemo]
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnDebitCreditMemoLine_TrnSales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[TrnSales] ([Id])
GO
ALTER TABLE [dbo].[TrnDebitCreditMemoLine] CHECK CONSTRAINT [FK_TrnDebitCreditMemoLine_TrnSales]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstAccount]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstPayType] FOREIGN KEY([PayTypeId])
REFERENCES [dbo].[MstPayType] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstPayType]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstPeriod]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstUser]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstUser1]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstUser2]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstUser3]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_MstUser4]
GO
ALTER TABLE [dbo].[TrnDisbursement]  WITH CHECK ADD  CONSTRAINT [FK_TrnDisbursement_TrnStockIn] FOREIGN KEY([StockInId])
REFERENCES [dbo].[TrnStockIn] ([Id])
GO
ALTER TABLE [dbo].[TrnDisbursement] CHECK CONSTRAINT [FK_TrnDisbursement_TrnStockIn]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_MstAccount]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnCollection] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[TrnCollection] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnCollection]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnDebitCreditMemo] FOREIGN KEY([DCMemoId])
REFERENCES [dbo].[TrnDebitCreditMemo] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnDebitCreditMemo]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnDisbursement] FOREIGN KEY([DisbursementId])
REFERENCES [dbo].[TrnDisbursement] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnDisbursement]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnSales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[TrnSales] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnSales]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnStockIn] FOREIGN KEY([StockInId])
REFERENCES [dbo].[TrnStockIn] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnStockIn]
GO
ALTER TABLE [dbo].[TrnJournal]  WITH CHECK ADD  CONSTRAINT [FK_TrnJournal_TrnStockOut] FOREIGN KEY([StockOutId])
REFERENCES [dbo].[TrnStockOut] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnJournal] CHECK CONSTRAINT [FK_TrnJournal_TrnStockOut]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstPeriod]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstSupplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[MstSupplier] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstSupplier]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstUser]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstUser1]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstUser2]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstUser3]
GO
ALTER TABLE [dbo].[TrnPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrder_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnPurchaseOrder] CHECK CONSTRAINT [FK_TrnPurchaseOrder_MstUser4]
GO
ALTER TABLE [dbo].[TrnPurchaseOrderLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnPurchaseOrderLine_TrnPurchaseOrder] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[TrnPurchaseOrder] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnPurchaseOrderLine] CHECK CONSTRAINT [FK_TrnPurchaseOrderLine_TrnPurchaseOrder]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstCustomer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[MstCustomer] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstCustomer]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstPeriod]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstTable] FOREIGN KEY([TableId])
REFERENCES [dbo].[MstTable] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstTable]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstTerm] FOREIGN KEY([TermId])
REFERENCES [dbo].[MstTerm] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstTerm]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstTerminal] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[MstTerminal] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstTerminal]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstUser]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstUser1]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstUser2]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstUser3]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_MstUser4]
GO
ALTER TABLE [dbo].[TrnSales]  WITH CHECK ADD  CONSTRAINT [FK_TrnSales_TrnSales] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[MstDiscount] ([Id])
GO
ALTER TABLE [dbo].[TrnSales] CHECK CONSTRAINT [FK_TrnSales_TrnSales]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstAccount] FOREIGN KEY([SalesAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstAccount]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstAccount1] FOREIGN KEY([AssetAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstAccount1]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstAccount2] FOREIGN KEY([CostAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstAccount2]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstAccount3] FOREIGN KEY([TaxAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstAccount3]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstDiscount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[MstDiscount] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstDiscount]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstItem]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstTax] FOREIGN KEY([TaxId])
REFERENCES [dbo].[MstTax] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstTax]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstUnit]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_MstUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_MstUser]
GO
ALTER TABLE [dbo].[TrnSalesLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnSalesLine_TrnSales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[TrnSales] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnSalesLine] CHECK CONSTRAINT [FK_TrnSalesLine_TrnSales]
GO
ALTER TABLE [dbo].[TrnStockCount]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockCount_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnStockCount] CHECK CONSTRAINT [FK_TrnStockCount_MstPeriod]
GO
ALTER TABLE [dbo].[TrnStockCountLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockCountLine_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[TrnStockCountLine] CHECK CONSTRAINT [FK_TrnStockCountLine_MstItem]
GO
ALTER TABLE [dbo].[TrnStockCountLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockCountLine_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[TrnStockCountLine] CHECK CONSTRAINT [FK_TrnStockCountLine_MstUnit]
GO
ALTER TABLE [dbo].[TrnStockCountLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockCountLine_TrnStockCount] FOREIGN KEY([StockCountId])
REFERENCES [dbo].[TrnStockCount] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnStockCountLine] CHECK CONSTRAINT [FK_TrnStockCountLine_TrnStockCount]
GO
ALTER TABLE [dbo].[TrnStockIn]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockIn_mstBranch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[MstBranch] ([Id])
GO
ALTER TABLE [dbo].[TrnStockIn] CHECK CONSTRAINT [FK_TrnStockIn_mstBranch]
GO
ALTER TABLE [dbo].[TrnStockIn]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockIn_TrnCollection] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[TrnCollection] ([Id])
GO
ALTER TABLE [dbo].[TrnStockIn] CHECK CONSTRAINT [FK_TrnStockIn_TrnCollection]
GO
ALTER TABLE [dbo].[TrnStockInLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockInLine_MstAccount] FOREIGN KEY([AssetAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnStockInLine] CHECK CONSTRAINT [FK_TrnStockInLine_MstAccount]
GO
ALTER TABLE [dbo].[TrnStockInLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockInLine_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[TrnStockInLine] CHECK CONSTRAINT [FK_TrnStockInLine_MstItem]
GO
ALTER TABLE [dbo].[TrnStockInLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockInLine_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[TrnStockInLine] CHECK CONSTRAINT [FK_TrnStockInLine_MstUnit]
GO
ALTER TABLE [dbo].[TrnStockInLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockInLine_TrnStockIn] FOREIGN KEY([StockInId])
REFERENCES [dbo].[TrnStockIn] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnStockInLine] CHECK CONSTRAINT [FK_TrnStockInLine_TrnStockIn]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstAccount]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_mstBranch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[MstBranch] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_mstBranch]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstPeriod] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[MstPeriod] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstPeriod]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstUser] FOREIGN KEY([PreparedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstUser]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstUser1] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstUser1]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstUser2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstUser2]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstUser3] FOREIGN KEY([EntryUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstUser3]
GO
ALTER TABLE [dbo].[TrnStockOut]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOut_MstUser4] FOREIGN KEY([UpdateUserId])
REFERENCES [dbo].[MstUser] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOut] CHECK CONSTRAINT [FK_TrnStockOut_MstUser4]
GO
ALTER TABLE [dbo].[TrnStockOutLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOutLine_MstAccount] FOREIGN KEY([AssetAccountId])
REFERENCES [dbo].[MstAccount] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOutLine] CHECK CONSTRAINT [FK_TrnStockOutLine_MstAccount]
GO
ALTER TABLE [dbo].[TrnStockOutLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOutLine_MstItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[MstItem] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOutLine] CHECK CONSTRAINT [FK_TrnStockOutLine_MstItem]
GO
ALTER TABLE [dbo].[TrnStockOutLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOutLine_MstUnit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[MstUnit] ([Id])
GO
ALTER TABLE [dbo].[TrnStockOutLine] CHECK CONSTRAINT [FK_TrnStockOutLine_MstUnit]
GO
ALTER TABLE [dbo].[TrnStockOutLine]  WITH CHECK ADD  CONSTRAINT [FK_TrnStockOutLine_TrnStockOut] FOREIGN KEY([StockOutId])
REFERENCES [dbo].[TrnStockOut] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrnStockOutLine] CHECK CONSTRAINT [FK_TrnStockOutLine_TrnStockOut]
GO
